*{
    width: 90%;
    margin: auto;
}
header{
    background-color: #E579E6;
    height: 105px;
    margin-top: 20px;
}

main{
    background-color: #E1D67A;
    height: 350px;
    margin-top: 20px;
}

.header2{
    background-color: #ABCFE7;
    height: 65px;
    margin-top: 20px;
}

.container::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    background-color: #0186FF;
}
.menu1{
    background-color: #ABCFE7;
    height: 320px;
    float: left;
    margin: 20px 0;
    width: 210px;
}

.corpo{
    background-color: #ABCFE7;
    height: 320px;
    width: 459px;
    float: left;
    margin: 20px;
}

.menu2{
    background-color: #ABCFE7;
    height: 320px;
    float: left;
    margin: 20px 0;
    width: 210px;
}

footer{
    background-color: #8801FE;
    height: 40px;
    margin-top: 10px;
}