
header{
    background-color: #E579E6;
    height: 105px;
    margin-top: 20px;
}

main{
    background-color: #E1D67A;
    height: 350px;
    margin-top: 20px;
}

.header2{
    background-color: #ABCFE7;
    height: 65px;
    margin-top: 20px;
}

.container::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    background-color: #0087FF;
}

.menu{
    background-color: #ABCFE7;
    height: 320px;
    float: left;
    margin: 2% 0;
    width: 210px;
}

.corpo{
    background-color: #ABCFE7;
    height: 320px;
    width: 61%;
    float: left;
    margin: 2%;
}

footer{
    background-color: #8801FE;
    height: 40px;
    margin-top: 10px;
}